{{#each shortcuts as |shortcut slot|}}
{{#if shortcut.isEmpty}}
<div class="shortcut empty" data-slot="{{slot}}"></div>
{{else}}
<div id="{{shortcut.elementId}}" data-type="{{shortcut.type}}"
    class="item shortcut{{#if (not shortcut.item)}} inactive {{else if (not shortcut.canUse)}} greyed{{/if}}"
    data-slot="{{slot}}" data-action="shortcut-slot" {{{@root.dataset shortcut.dataset}}}
    draggable="true">
    {{!-- image --}}
    <div class="image" style="background-image: url({{shortcut.usedImage}});"></div>
    {{!-- counter --}}
    {{#with shortcut.counter as |counter|}}
    <div class="counter boxed">
        <span>{{counter.value}}</span>
    </div>
    {{/with}}
    {{!-- checkbox --}}
    {{#with shortcut.checkbox as |checkbox|}}
    <div class="checkbox">
        {{#if checkbox.checked}}
        <i class="fa-regular fa-square-check"></i>
        <i class="fa-solid fa-square-check"></i>
        {{else}}
        <i class="fa-regular fa-square"></i>
        <i class="fa-solid fa-square"></i>
        {{/if}}
    </div>
    {{/with}}
    {{!-- overlay --}}
    <div class="overlay">
        {{#with shortcut.overlay as |content|}}
        <span>{{content}}</span>
        {{/with}}
    </div>
</div>
{{/if}}
{{/each}}