<div class="header{{#if reason}} greyed{{/if}}">
    <div class="image" style="background-image: url({{img}});"></div>
    <div class="title">{{title}}</div>
    <div class="subtitle">{{subtitle}}</div>
</div>
{{#if reason}}
<div class="details left">
    {{reason}}
</div>
{{/if}}
<div class="details right">
    {{#if altUse}}
    <div>{{altUse}}</div>
    {{/if}}
    {{#if hasItem}}
    <div>{{@root.i18n 'click.control'}}</div>
    {{/if}}
    <div>{{@root.i18n 'click.shift'}}</div>
</div>