{{#if strike.handsAvailable}}
{{#each strike.auxiliaryActions as |aux index|}}
<div class="variant" data-action="auxiliary-action" data-auxiliary-action-index="{{index}}">
    <span>{{aux.label}}</span>
    <span class="action-glyph">{{aux.glyph}}</span>
    {{#if aux.options}}
    <select class="modular">
        {{#each aux.options as |option|}}
        <option value="{{option.value}}" {{#if option.selected}} selected{{/if}}>
            {{option.label}} {{#if option.selected}}✔️{{/if}}
        </option>
        {{/each}}
    </select>
    {{/if}}
</div>
{{/each}}
{{/if}}