<div class="variants">
    {{!-- category --}}
    {{#if category}}
    {{> (@root.partial 'strike_category') category=category}}
    {{/if}}
    {{!-- attacks --}}
    {{#each variants as |variant index|}}
    <div class="variant attack" data-action="strike-attack" data-variant-index="{{index}}" {{#if
        ../isAltUsage}} data-alt-usage="{{#if ../item.isThrown}}thrown{{else}}melee{{/if}}" {{/if}}
        {{#if (eq ../quantity 0)}} data-disabled data-tooltip="{{localize "
        PF2E.ErrorMessage.WeaponQuantityZero"}}"{{/if}}>
        {{!-- first attack --}}
        {{#if (eq index 0)}}
        {{#if @root.isCharacter}}
        {{localize "PF2E.WeaponStrikeLabel"}}
        {{/if}}
        {{variant.label}}
        {{!-- other map --}}
        {{else}}
        {{@root.variantLabel variant.label}}
        {{/if}}
    </div>
    {{/each}}
    {{!-- damage --}}
    {{#if item.dealsDamage}}
    {{!-- if not character, we split into a new variants line --}}
    {{#unless @root.isCharacter}}
</div>
<div class="variants">
    {{/unless}}
    <div class="variant damage" data-action="strike-damage" {{#if
        isAltUsage}}data-alt-usage="{{#if item.isThrown}}thrown{{else}}melee{{/if}}" {{/if}} {{#if
        @root.isCharacter}}data-tooltip="{{damageFormula}}" {{/if}}>
        {{#if @root.isCharacter}}
        {{localize "PF2E.DamageLabel"}}
        {{else}}
        {{damageFormula}}
        {{/if}}
    </div>
    <div class="variant damage" data-action="strike-critical" {{#if
        isAltUsage}}data-alt-usage="{{#if item.isThrown}}thrown{{else}}melee{{/if}}" {{/if}} {{#if
        @root.isCharacter}}data-tooltip="{{criticalFormula}}" {{/if}}>
        {{#if @root.isCharacter}}
        {{localize "PF2E.CriticalDamageLabel"}}
        {{else}}
        {{criticalFormula}}
        {{/if}}
    </div>
    {{!-- end if damage --}}
    {{/if}}
</div>