{{#if toggles.length}}
<div class="option-toggles section-body item-list" data-option-toggles>
    {{#each toggles as |toggle|}}
    <div class="toggle" data-item-id="{{toggle.itemId}}" data-domain="{{toggle.domain}}"
        data-option="{{toggle.option}}" data-placement="{{toggle.placement}}">
        <label>
            <input type="checkbox" {{#if toggle.alwaysActive}} class="hidden"
                {{/if}}data-action="toggle-roll-option" {{disabled (or toggle.alwaysActive (not
                toggle.enabled))}} {{checked toggle.checked}} />
            <div
                class="name{{#if (not (or toggle.checked toggle.enabled))}} unchecked-disabled{{/if}}">
                {{localize toggle.label}}
            </div>
        </label>
        {{#if toggle.suboptions}}
        <select {{#if (eq toggle.suboptions.length 1)}}disabled="disabled"
            {{else}}data-action="set-suboption" {{/if}}>
            {{#each toggle.suboptions as |suboption|}}
            <option value="{{suboption.value}}" {{#if suboption.selected}} selected{{/if}}>
                {{localize suboption.label}}</option>
            {{/each}}
        </select>
        {{/if}}
    </div>
    {{/each}}
</div>
{{/if}}