<div class="variants versatiles">
    {{#if doubleBarrel}}
    <div class="variant double-barrel physical{{#if doubleBarrel.selected}} selected{{/if}}"
        data-action="toggle-weapon-trait" data-trait="double-barrel"
        data-tooltip="{{localize 'PF2E.TraitDoubleBarrel'}}">
        <span class="fa-stack fa-fw">
            <i class="fa-solid barrels fa-pause fa-rotate-90 fa-stack-1x icon"></i>
            <i class="fa-solid blast fa-explosion fa-rotate-90 fa-stack-1x icon"></i>
        </span>
    </div>
    {{/if}}
    {{#each versatileOptions as |option|}}
    <div class="variant {{option.value}}{{#if option.selected}} selected{{/if}}"
        data-value="{{option.value}}" {{#if ../isAltUsage}}
        data-alt-usage="{{#if ../strike.item.isThrown}}thrown{{else}}melee{{/if}}" {{/if}}
        data-action="toggle-weapon-trait" data-trait="versatile"
        data-tooltip="{{localize option.label}}">
        <i class="fa-solid fa-{{option.glyph}} fa-fw icon"></i>
    </div>
    {{/each}}
</div>