{{#if stances.actions.length}}
<header data-filter-value="{{filterValue stances.actions key='name'}}">
    <div class="name">{{@root.i18n 'stances'}}</div>
</header>
{{/if}}
{{#each stances.actions as |stance|}}
<div class="item action" data-item-id="{{stance.actionID}}" draggable="true"
    data-effect-uuid="{{stance.effectUUID}}" data-filter-value="{{stance.name}}">
    <div class="image" data-action="send-to-chat">
        <img src="systems/pf2e/icons/actions/OneAction.webp">
        <i class="fa-solid fa-message chat"></i>
    </div>
    <div class="name">
        <a data-action="item-description">{{stance.name}}</a>
    </div>
    <div class="controls">
        <a {{#unless ../stances.canUse}}class="disabled" {{/unless}} data-action="toggle-stance">
            <i class="fa-solid fa-toggle-{{ifThen stance.effectID 'large-on' 'off'}}"></i>
        </a>
    </div>
    <img src="{{stance.img}}" class="drag-img">
</div>
{{/each}}

{{#if elementalBlasts}}
<header class="blasts"
    data-filter-value="{{filterValue elementalBlasts.blasts key='label' localize=true}}">
    <div class="name">{{@root.i18n 'blasts'}}</div>
    <a class="controls item" draggable="true" data-action="toggle-blast-action-cost"
        data-item-id="{{elementalBlasts.itemId}}" data-domain="elemental-blast"
        data-label="{{elementalBlasts.label}}" data-option="action-cost" data-always-active="true"
        data-cost="{{elementalBlasts.cost}}">
        {{#each elementalBlasts.costs as |suboption|}}
        <span {{#if suboption.selected}} class="selected" {{/if}}
            data-tooltip="{{suboption.tooltip}}">{{suboption.label}}</span>
        {{/each}}
        <img src="{{elementalBlasts.img}}" class="drag-img">
    </a>
</header>
{{#each elementalBlasts.blasts as |blast|}}
<div class="item attack ready" data-element="{{blast.element}}"
    data-damage-type={{blast.damageType}} data-item-id="{{blast.item.id}}"
    data-item-type="{{blast.item.type}}" draggable="true"
    data-filter-value="{{localize blast.label}}">
    <div class="name">
        <a data-action="item-description">{{localize blast.label}}</a>
    </div>
    {{!-- attack/damage --}}
    {{> (@root.partial 'action_blast-row') blast=blast melee=true}}
    {{> (@root.partial 'action_blast-row') blast=blast melee=false}}
    {{!-- damage type variants --}}
    {{#if (gt blast.damageTypes.length 1)}}
    <div class="variants versatiles">
        {{#each blast.damageTypes as |damageType|}}
        <div class="variant{{#if damageType.selected}} selected{{/if}}"
            data-tooltip="{{damageType.label}}" data-action="blast-set-damage-type"
            data-value="{{damageType.value}}">
            <i class="fa-solid fa-fw fa-{{damageType.icon}}"></i>
        </div>
        {{/each}}
    </div>
    {{/if}}
    <img src="{{blast.img}}" class="drag-img">
</div>
{{/each}}
{{/if}}


{{#if strikes.length}}
<header data-filter-value="{{filterValue strikes key='label'}}">
    <div class="name">{{localize 'PF2E.Actor.Attacks'}}</div>
    {{#if stowedWeapons}}
    <div class="controls">
        <a {{#if stowedWeapons.hidden}} class="greyed" {{/if}} data-action="toggle-hide-stowed"
            data-tooltip="{{stowedWeapons.tooltip}}">
            <i class="fa-solid fa-eye"></i>
        </a>
    </div>
    {{/if}}
</header>
{{/if}}
{{#each strikes as |strike|}}
<div class="item attack{{#if strike.ready}} ready{{/if}}{{#unless strike.visible}} hidden{{/unless}}"
    data-action-index="{{strike.index}}" data-item-id="{{strike.item.id}}" {{#if
    strike.item.parentItem}} data-parent-id="{{strike.item.parentItem.id}}" {{/if}} draggable="true"
    data-filter-value="{{strike.label}}">
    {{!-- name --}}
    <div class="name">
        {{#if (and @root.isCharacter (ne strike.item.id 'xxPF2ExUNARMEDxx'))}}
        <a data-action="item-description">{{strike.label}}</a>
        {{else}}
        <span>{{strike.label}}</span>
        {{/if}}
    </div>
    {{!-- npc traits --}}
    {{#unless @root.isCharacter}}
    {{#if (or strike.traits.length strike.additionalEffects.length)}}
    <div class="variants">
        {{#each strike.traits as |trait|}}
        <div class="variant info" data-tooltip="{{trait.description}}" data-tooltip-class="pf2e">
            {{trait.label}}
        </div>
        {{/each}}
        {{#each strike.additionalEffects as |trait|}}
        <div class="variant extra">
            {{localize trait.label}}
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{/unless}}
    {{!-- attack/damage --}}
    {{#if (any strike.ready @root.showUnreadyStrikes)}}
    {{#if strike.canStrike}}
    {{> (@root.partial 'action_strike-row') strike}}
    {{/if}}
    {{else if (and (not strike.ready) (not strike.handsAvailable))}}
    <span class="hands-occupied">{{localize "PF2E.Actor.Character.HandsOccupied"}}</span>
    {{/if}}
    {{!-- extra attack/damage --}}
    {{#if (and strike.altUsages (or strike.ready @root.showUnreadyStrikes))}}
    {{#each strike.altUsages as |usage|}}
    {{> (@root.partial 'action_strike-row') usage isAltUsage=true}}
    {{/each}}
    {{/if}}

    {{#if @root.isCharacter}}
    <div class="variants controls">
        {{!-- ammo --}}
        {{#if (and strike.ammunition (or strike.ready @root.showUnreadyStrikes))}}
        <div class="variant ammo">
            <select class="linked" data-action="link-ammo" {{#if strike.ammunition.selected}}
                data-compatible="{{strike.ammunition.selected.compatible}}" {{/if}}>
                {{selectOptions strike.ammunition.compatible selected=strike.ammunition.selected.id
                valueAttr="id" blank="PF2E.NoAmmoLabel" localize=true}}
            </select>
            {{#if (gt strike.item.ammo.uses.max 1)}}
            <span class="magazine" data-item-id="{{strike.item.id}}">
                <i class="icon"></i> {{strike.item.ammo.uses.value}}
            </span>
            {{/if}}
        </div>
        {{/if}}
        {{!-- auxiliaries --}}
        {{> (@root.partial 'strike_auxiliaries') strike=strike}}
    </div>
    {{!-- end if character --}}
    {{/if}}
    <img src="{{strike.img}}" class="drag-img">
</div>
{{/each}}

{{#if heroActions}}
<header class="hero-actions" data-filter-value="{{filterValue heroActions.actions key='name'}}">
    <div class="name">{{localize 'pf2e-toolbelt.heroActions.sheet.label'}}</div>
    <div class="controls">
        {{#if heroActions.usesCount}}
        <a class="redraw" data-action="hero-actions-draw"
            data-tooltip="pf2e-toolbelt.heroActions.sheet.redraw">
            <i class="fa-regular fa-cards-blank"></i>
        </a>
        {{else if heroActions.mustDraw}}
        <a class="draw" data-action="hero-actions-draw"
            data-tooltip="{{localize 'pf2e-toolbelt.heroActions.sheet.draw' nb=heroActions.diff}}">
            <i class="fa-regular fa-cards-blank"></i>
        </a>
        {{/if}}
        {{#if heroActions.canTrade}}
        <a data-action="hero-actions-trade" data-tooltip="pf2e-toolbelt.heroActions.sheet.trade">
            <i class="fas fa-right-left"></i>
        </a>
        {{/if}}
    </div>
</header>
{{/if}}
{{#each heroActions.actions as |action|}}
<div class="item action" data-uuid="{{action.uuid}}" data-filter-value="{{action.name}}">
    <div class="image" data-action="send-hero-action-to-chat">
        <img src="systems/pf2e/icons/actions/Passive.webp">
        <i class="fa-solid fa-message chat"></i>
    </div>
    <div class="name">
        <a data-action="hero-action-description">{{action.name}}</a>
    </div>
    <div class="controls">
        {{#if ../heroActions.canUse}}
        <a data-action="hero-action-use" data-tooltip="pf2e-toolbelt.heroActions.sheet.action.use">
            <i class="fa-solid fa-play"></i>
        </a>
        {{/if}}
        {{#if ../heroActions.mustDiscard}}
        <a class="discard" data-action="hero-action-discard"
            data-tooltip="pf2e-toolbelt.heroActions.sheet.action.discard">
            <i class="fa-solid fa-fw fa-trash"></i>
        </a>
        {{/if}}
    </div>
</div>
{{/each}}

{{#each actionSections as |section|}}
<header data-filter-value="{{@root.filterValue section.actions key='name'}}">
    <div class="name">{{localize section.label}}</div>
</header>
{{#each section.actions as |action|}}
<div class="item action" data-item-id="{{action.id}}" draggable="true"
    data-filter-value="{{action.name}}">
    <div class="image" data-action="send-to-chat">
        <img src="{{action.img}}">
        <i class="fa-solid fa-message chat"></i>
    </div>
    <div class="name">
        <a data-action="item-description">{{action.name}}</a>
    </div>
    <div class="controls">
        {{!-- toggles --}}
        {{#each action.toggles as |toggle|}}
        <a {{#if toggle.selected}}class="active" {{/if}} data-tooltip="{{toggle.tooltip}}"
            data-action="toggle-trait" data-trait="{{toggle.trait}}"><i
                class="fa-solid fa-fw fa-{{toggle.icon}}"></i></a>
        {{/each}}
        {{!-- if usages --}}
        {{#if action.usage}}
        {{!-- resource field --}}
        {{#if action.resource}}
        <input type="number" class="small" value="{{action.resource.value}}"
            data-tooltip="{{action.resource.label}}" disabled>
        {{!-- frequency field --}}
        {{else if action.frequency}}
        <input type="number" class="small" data-item-id="{{action.id}}"
            data-item-property="system.frequency.value" value="{{action.frequency.value}}" min="0"
            max="{{action.frequency.max}}" data-tooltip="{{action.frequency.label}}">
        {{/if}}
        {{!-- reset btn --}}
        {{#if (and action.usage.disabled action.frequency)}}
        <a data-action="reset-action" data-tooltip="{{action.usage.label}}">
            <i class="fa-solid fa-rotate-left"></i>
        </a>
        {{!-- use btn --}}
        {{else}}
        <a data-action="use-action" data-tooltip="{{action.usage.label}}" {{disabled
            action.usage.disabled}}>
            <i class="fa-solid fa-play"></i>
        </a>
        {{/if}}
        {{!-- no usages but exploration --}}
        {{else if (and @root.inParty action.isExploration)}}
        <a data-action="toggle-exploration">
            <i class="fa-solid fa-toggle-{{ifThen action.isActive 'large-on' 'off'}}"></i>
        </a>
        {{!-- end if usages --}}
        {{/if}}
    </div>
    <img src="{{action.dragImg}}" class="drag-img">
</div>
{{/each}}
{{/each}}