{{#each toggles as |toggle|}}
<div class="option-toggle item" data-item-id="{{toggle.itemId}}" data-domain="{{toggle.domain}}"
    data-option="{{toggle.option}}" data-label="{{toggle.label}}"
    data-placement="{{toggle.placement}}" draggable="true"
    data-option-selection="{{toggle.selection}}" data-filter-value="{{toggle.label}}" {{#if
    toggle.alwaysActive}} data-always-active="true" {{/if}}>
    <label>
        <input type="checkbox" {{#if toggle.alwaysActive}} class="hidden"
            {{/if}}data-action="toggle-roll-option" {{disabled (or toggle.alwaysActive (not
            toggle.enabled))}} {{checked toggle.checked}} />
        <div class="name{{#if (not (or toggle.checked toggle.enabled))}} unchecked-disabled{{/if}}">
            {{toggle.label}}
        </div>
    </label>
    {{#if toggle.suboptions}}
    <select {{#if (eq toggle.suboptions.length 1)}}disabled="disabled"
        {{else}}data-action="set-suboption" {{/if}}>
        {{#each toggle.suboptions as |suboption|}}
        <option value="{{suboption.value}}" {{#if suboption.selected}} selected{{/if}}>
            {{localize suboption.label}}</option>
        {{/each}}
    </select>
    {{/if}}
    <img src="{{toggle.img}}" class="drag-img">
</div>
{{/each}}