<div class="item action" data-item-uuid="{{follow.uuid}}" data-filter-value="{{i18n 'follow'}}">
    <div class="image" data-action="send-to-chat">
        <img src="systems/pf2e/icons/actions/Passive.webp">
        <i class="fa-solid fa-message chat"></i>
    </div>
    <div class="name">
        <a data-action="item-description">{{i18n 'follow'}}</a>
    </div>
    <div class="controls">
        <a class="use" data-action="follow-the-expert">
            <i class="fa-solid {{ifThen follow.active 'fa-xmark' 'fa-play'}}"></i>
        </a>
    </div>
</div>
{{#each skills as |skill|}}
<header data-filter-value="{{skill.filterValue}}">
    <a data-action="roll-skill" data-slug="{{skill.slug}}">
        <span>{{signedInteger skill.mod}}</span> {{skill.label}}
    </a>
    {{#if @root.isCharacter}}
    <div class="rank {{skill.rank}}">
        {{skill.rankLabel}}
    </div>
    {{else if skill.proficient}}
    <div class="rank 1">
        {{@root.i18n 'proficient'}}
    </div>
    {{/if}}
</header>
{{#each skill.actions as |action|}}
{{> (@root.partial 'statistic-action') action=action}}
{{/each}}
{{/each}}