<div class="item action" data-item-uuid="{{follow.uuid}}">
    <div class="image" data-action="send-to-chat">
        <img src="systems/pf2e/icons/actions/Passive.webp">
        <i class="fa-solid fa-message chat"></i>
    </div>
    <div class="name">
        <a data-action="item-description">{{i18n 'follow'}}</a>
    </div>
    <div class="controls">
        <a class="use" data-action="follow-the-expert">
            <i class="fa-solid {{ifThen follow.active 'fa-xmark' 'fa-play'}}"></i>
        </a>
    </div>
</div>
{{#each skills as |skill|}}
<header>
    <a data-action="roll-skill" data-slug="{{skill.slug}}">
        <span>{{signedInteger skill.mod}}</span> {{skill.label}}
    </a>
    {{#if @root.isCharacter}}
    <div class="rank {{skill.rank}}">
        {{skill.rankLabel}}
    </div>
    {{else if skill.proficient}}
    <div class="rank 1">
        {{@root.i18n 'proficient'}}
    </div>
    {{/if}}
</header>
{{#each skill.actions as |action|}}
<div class="item{{#if action.proficient}} proficient{{/if}}" {{{action.dataset}}}>
    <div class="skill">
        <div class="name">
            <a data-action="item-description">{{action.label}}</a>
        </div>
        <div class="controls">
            {{#unless (or action.variants (not action.proficient))}}
            <a data-action="roll-skill-action">
                <i class="fa-solid fa-dice-d20"></i>
            </a>
            {{/unless}}
            <a data-action="send-to-chat">
                <i class="fa-solid fa-message"></i>
            </a>
        </div>
    </div>
    {{#if (and action.proficient action.variants)}}
    <div class="variants">
        {{#each action.variants as |variant|}}
        <div class="variant" data-action="roll-skill-action" {{#if variant.slug}}
            data-variant="{{variant.slug}}" {{/if}} {{#if variant.map}} data-map="{{variant.map}}"
            {{/if}} {{#if variant.agile}} data-agile="{{variant.agile}}" {{/if}}>
            {{variant.label}}
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
{{/each}}
{{/each}}