{{!-- entry --}}
{{#each spells as |entry rank|}}
<header>
    <div class="name">{{localize (lookup @root.labels rank)}}</div>
    {{#if (or (eq rank 12) (and (eq rank 0) @root.hasFocusCantrip))}}
    <div class="controls" data-section="focus-points" data-tooltip="PF2E.Focus.label">
        {{> (@root.partial 'slider') entry=@root.focusPool action="focus"}}
    </div>
    {{/if}}
</header>
{{!-- spell --}}
{{#each entry as |item|}}
<div class="item{{#if item.virtual}} virtual{{/if}}"
    data-item-type="spell{{#if item.virtual}}-slot-group{{/if}}" data-item-id="{{item.itemId}}"
    data-entry-id="{{item.entryId}}" data-cast-rank="{{item.castRank}}"
    data-group-id="{{item.groupId}}" {{#if item.isPrepared}}data-slot-id="{{item.slotId}}" {{/if}}
    {{#if item.expended}}data-slot-expended{{/if}}>
    {{!-- image --}}
    {{> (@root.partial 'item_image') item}}
    {{!-- details --}}
    <div class="details">
        {{!-- name --}}
        <div class="name">
            <a data-action="item-description">{{item.name}}</a>
        </div>
        {{!-- extras --}}
        <div class="extras">
            {{!-- category --}}
            <div class="category" data-tooltip="{{item.entryTooltip}}"
                data-tooltip-direction="DOWN">
                {{#if (eq rank 13)}}
                {{item.action}}
                {{else}}
                {{localize item.category}} {{{actionGlyph item.action}}}
                {{/if}}
            </div>
            {{!-- actions --}}
            <div class="actions" data-section="">
                {{!-- if broken --}}
                {{#if item.isBroken}}
                <div class="broken" data-tooltip="{{@root.i18n.path 'broken'}}">
                    <i class="fa-solid fa-link-slash broken"></i>
                </div>
                {{!-- else not broken --}}
                {{else}}
                {{!-- if uses --}}
                {{#if item.uses}}
                <div {{#if (and item.uses.max (not item.isStaff))}}class="numbers" {{/if}}>
                    <input class="small" type="number" {{#if item.isStaff}}
                        data-action="update-staff-charges" {{else}}
                        data-item-id="{{item.uses.itemId}}" data-item-property="{{item.uses.input}}"
                        {{/if}} value="{{item.uses.value}}" min="0" max="{{item.uses.max}}"
                        placeholder="0">
                    {{#if (and item.uses.max (not item.isStaff))}}
                    <span class="slash"> / </span>
                    <input class="small" type="number" data-item-id="" data-item-property=""
                        value="{{item.uses.max}}" placeholder="0" disabled />
                    {{/if}}
                </div>
                {{else if (and (not item.isCantrip) item.isPrepared)}}
                <a data-action="toggle-slot-expended"
                    data-tooltip="{{#if item.expended}}PF2E.RestoreSpellTitle{{else}}PF2E.ExpendSpellTitle{{/if}}">
                    <i
                        class="fa-solid fa-fw fa-{{#if item.expended}}plus{{else}}minus{{/if}}-square"></i>
                </a>
                {{!-- end if uses --}}
                {{/if}}
                {{!-- if unequipped item --}}
                {{#if (and item.annotation (or item.isStaff item.consumable))}}
                <a data-action="draw-item" data-annotation="{{item.annotation}}"
                    data-parent-id="{{item.parentId}}"
                    data-tooltip="{{@root.annotationTooltip item.annotation}}">
                    <i class="fa-solid fa-hand-back-fist"></i>
                </a>
                {{!-- else equipped --}}
                {{else}}
                <a {{#if item.expended}}class="disabled" {{else}}data-action="cast-spell" {{/if}}
                    data-tooltip="{{@root.i18n.path 'cast'}}">
                    <i class="fa-solid fa-play"></i>
                </a>
                {{!-- end if unequipped item --}}
                {{/if}}
                {{!-- end if broken --}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{!-- end spell --}}
{{/each}}
{{!-- end entry --}}
{{/each}}