<div data-tooltip-class="pf2e">
    <div class="tags paizo-style">
        {{#each traits as |trait|}}
        <span class="tag" data-tooltip="{{trait.description}}">{{trait.label}}</span>
        {{/each}}
    </div>
    {{#if blurb}}
    <div class="blurb">{{blurb}}</div>
    {{/if}}
    <hr>
    {{#if publicNotes}}
    <div class="notes-header">{{localize 'PF2E.NPC.PublicNotes'}}</div>
    <div class="notes-content">{{{publicNotes}}}</div>
    {{/if}}
    {{#if privateNotes}}
    <div class="notes-header">{{localize 'PF2E.NPC.PrivateNotes'}}</div>
    <div class="notes-content">{{{privateNotes}}}</div>
    {{/if}}
</div>