{{#each afflictions as |affliction|}}
{{> effect effect=affliction descriptions=../descriptions.afflictions}}
{{/each}}

{{#if (and afflictions.length conditions.length)}}
<hr />{{/if}}

{{#each conditions as |condition|}}
{{> effect effect=condition descriptions=../descriptions.conditions}}
{{/each}}

{{#if (and conditions.length effects.length)}}
<hr />{{/if}}

{{#each effects as |effect|}}
{{> effect effect=effect descriptions=../descriptions.effects}}
{{/each}}

{{#*inline "effect"}}
{{#if (or effect.isIdentified @root.user.isGM)}}
<div class="effect-item" data-item-id="{{effect.id}}" data-badge-type="{{effect.badge.type}}">
    <div class="effect-info">
        <h1>
            {{effect.name}}
            <a data-action="send-to-chat" data-tooltip="PF2E.NPC.SendToChat"><i
                    class="fa-solid fa-fw fa-comment-alt"></i></a>
            {{#if (or (ne effect.type "condition") (eq effect.slug "persistent-damage"))}}
            <a data-action="edit" data-tooltip="PF2E.EditItemTitle"><i
                    class="fa-solid fa-fw fa-pencil"></i></a>
            {{/if}}
        </h1>
        {{#if (or (eq effect.type "effect") effect.breakdown)}}
        <div class="tags">
            {{#if (and effect.system.duration.sustained (not effect.system.expired))}}
            <div class="tag tag_secondary">{{localize "PF2E.Item.Spell.Sustained.Label"}}</div>
            {{/if}}
            {{#unless effect.isIdentified}}
            <div class="tag tag_secondary">{{localize "PF2E.EffectPanel.Unidentified"}}</div>
            {{/unless}}
            {{#if effect.breakdown}}
            <div class="tag tag_secondary">{{effect.breakdown}}</div>
            {{/if}}
            {{#if effect.system.remaining}}
            <div class="tag tag_secondary">{{effect.system.remaining}}</div>
            {{/if}}
        </div>
        {{/if}}
        {{#if (eq effect.slug "persistent-damage")}}
        <a class="inline-check" data-action="recover-persistent-damage">
            <i class="fa-solid fa-dice-d20 icon"></i>
            <span class="label">{{localize
                "PF2E.Item.Condition.PersistentDamage.AssistedRecovery"}}</span>
        </a>
        {{/if}}
        <div class="instructions">
            {{#if (nor effect.isLocked effect.inMemoryOnly)}}
            {{#if (eq effect.badge.type "formula")}}
            <div>{{@root.instructions.rollDamage}}</div>
            {{/if}}

            {{#if (eq effect.badge.type "counter")}}
            <div>{{@root.instructions.increment}}</div>
            <div>{{@root.instructions.decrement}}</div>
            <div>{{@root.instructions.all}}</div>
            {{else}}
            <div>{{@root.instructions.remove}}</div>
            {{/if}}
            {{/if}}
        </div>

        <div class="description">
            {{{lookup descriptions @index}}}
        </div>
    </div>
    <div class="icon{{#if effect.system.expired}} expired{{/if}}{{#if effect.isAura}} aura{{/if}}{{#unless effect.isIdentified}} unidentified{{/unless}}"
        data-locked="{{#if effect.isLocked}}true{{/if}}"
        style='background-image: url("{{effect.img}}")'>
        {{#if effect.system.expired}}
        <span class="expired">
            <i class="fa-solid fa-hourglass-end"></i>
        </span>
        {{else if effect.badge.value}}
        <div class="value-wrapper">
            <div class="value">
                <strong>{{effect.badge.value}}</strong>
            </div>
        </div>
        {{/if}}
    </div>
</div>
{{/if}}
{{/inline}}