<div class="group infos">
    <div class="app panel">
        {{> (partial 'stats_infos')}}
    </div>
</div>
<div class="group primary">
    <div class="app panel header">
        {{#if hasActor}}
        {{> (partial 'stats_level')}}
        {{> (partial 'stats_speed')}}
        {{/if}}
    </div>
    <div class="app panel saves">
        {{> (partial 'stats_statistics')}}
    </div>
</div>
<div class="group stretch">
    <div class="panel app sidebars">
        {{> (partial 'sidebars')}}
    </div>
    <div class="bottom">
        {{#if isCharacter}}
        <div class="panel app">
            {{> (partial 'stats_extras')}}
        </div>
        {{/if}}
        <div class="shortcuts">
            {{#if shortcutGroups}}
            {{#each shortcutGroups as |shortcutGroup|}}
            <div class="shortcut-group{{#if shortcutGroup.split}} split{{/if}}">
                {{#each shortcutGroup.shortcuts as |shortcut|}}
                <div class="shortcut app {{shortcut.type}}{{#if shortcut.isEmpty}} empty{{else if shortcut.isDisabled}} disabled{{/if}}{{#if shortcut.isFadedOut}} faded-out{{/if}}"
                    data-group-index="{{shortcut.groupIndex}}" data-index="{{shortcut.index}}">
                    {{#unless
                    shortcut.isEmpty}}{{> shortcut
                    shortcut=shortcut}}{{/unless}}</div>
                {{/each}}
            </div>
            {{/each}}
            {{else}}
            {{#times 4}}
            <div class="shortcut-group">
                <div class="shortcut app"></div>
            </div>
            {{/times}}
            {{/if}}
        </div>
    </div>
</div>

{{#*inline 'shortcut'}}
<img src="{{shortcut.img}}">
<div class="name app">{{shortcut.name}}</div>
{{#if (eq shortcut.type 'consumable')}}
{{> consumable consumable=shortcut}}
{{else if (eq shortcut.type 'attack')}}
{{> attack attack=shortcut}}
{{else if (eq shortcut.type 'toggle') }}
{{> toggle toggle=shortcut}}
{{else if (eq shortcut.type 'action')}}
{{> action action=shortcut}}
{{/if}}
{{/inline}}

{{#*inline 'action'}}
<div class="cost boxed">
    {{{actionGlyph action.item.actionCost}}}
</div>
{{#if action.frequency}}
<div class="quantity boxed">
    {{action.frequency.value}}
</div>
{{/if}}
{{/inline}}

{{#*inline 'toggle'}}
{{#unless toggle.isDisabled}}
<div class="check{{#if toggle.checked}} active{{/if}}">
    {{#if toggle.checked}}
    <i class="fa-regular fa-square-check"></i>
    <i class="fa-solid fa-square-check"></i>
    {{else}}
    <i class="fa-regular fa-square"></i>
    <i class="fa-solid fa-square"></i>
    {{/if}}
</div>
{{/unless}}
{{/inline}}

{{#*inline 'consumable'}}
<div class="quantity boxed">{{consumable.quantity}}</div>
{{#if consumable.isGeneric}}
<div class="generic">
    <i class="fa-solid fa-star"></i>
</div>
{{/if}}
{{#if consumable.categoryIcon}}
<div class="category-icon">
    <i class="{{consumable.categoryIcon}}"></i>
</div>
{{/if}}
{{#if consumable.rank}}
<div class="rank boxed">{{consumable.rank}}</div>
{{/if}}
{{/inline}}

{{#*inline 'attack'}}
<div class="background"></div>
{{!-- blast --}}
{{#if attack.blast}}
{{> (@root.partial 'action_blast-row') blast=attack.blast melee=true}}
{{> (@root.partial 'action_blast-row') blast=attack.blast melee=false}}
{{!-- strike --}}
{{else}}
{{!-- strike ready --}}
{{#if attack.strike.ready}}
{{> (@root.partial 'action_strike-row') attack.strike}}
{{#if attack.strike.altUsages}}
{{> (@root.partial 'action_strike-row') attack.strike.altUsages.[0] isAltUsage=true}}
{{/if}}
{{!-- strike not ready --}}
{{else}}
<div class="variants">
    <div class="category"></div>
    {{> (@root.partial 'action_auxiliaries') strike=attack.strike}}
</div>
{{!-- end strike ready --}}
{{/if}}
{{#if attack.strike.ammunition}}
<div class="quantity boxed">{{attack.strike.item.ammo.quantity}}</div>
{{/if}}
{{!-- end strike/blast --}}
{{/if}}
{{#unless attack.isDisabled}}
<div class="controls">
    {{#if @root.isCharacter}}
    <a class="extras" data-action="open-attack-popup" data-element-trait="{{attack.elementTrait}}"
        data-item-id="{{attack.itemId}}" data-slug="{{attack.slug}}"
        data-type="{{ifThen attack.blast 'blast' 'strike'}}">
        <i class="fa-solid fa-ellipsis-vertical"></i>
    </a>
    {{/if}}
    {{#if (or attack.blast attack.strike.ready)}}
    <a class="type-toggle attack" data-action="toggle-damage">
        <i class="fa-solid fa-bullseye"></i>
    </a>
    <a class="type-toggle damage" data-action="toggle-damage">
        <i class="fa-solid fa-burst"></i>
    </a>
    {{/if}}
</div>
{{/unless}}
{{/inline}}