<a data-action="toggle-users" data-tooltip="PLAYERS.Title">
    <i class="fa-solid fa-users"></i>
</a>
<a class="set-actor{{#if hasSavedActor}} active{{/if}}" data-action="select-actor"
    data-tooltip-class="pf2e-hud-left pf2e-hud-width" data-tooltip="{{setActorTooltip}}">
    <i class="fa-solid fa-user-vneck"></i>
</a>
<a data-action="toggle-clean"
    data-tooltip="{{#if cleaned}}{{i18n.path 'clean.always'}}{{else}}{{i18n.path 'clean.hover'}}{{/if}}">
    {{#if cleaned}}
    <i class="fa-duotone fa-image-user"></i>
    {{else}}
    <i class="fa-solid fa-image-user"></i>
    {{/if}}
</a>
{{#if hasActor}}
<a data-action="open-sheet" data-tooltip="{{i18n.path 'openSheet'}}">
    <i class="fa-solid fa-file"></i>
</a>
{{/if}}
<a data-action="open-macros" data-tooltip="MACRO.Directory">
    <i class="fa-solid fa-folder"></i>
</a>
<a data-action="toggle-hotbar-lock" data-tooltip="MACRO.{{ifThen hotbarLocked 'Unlock' 'Lock'}}Bar">
    <i class="fa-solid fa-lock{{#unless hotbarLocked}}-open{{/unless}}"></i>
</a>