<input class="hidden" type="text" name="id" value="{{resource.id}}">
<input class="hidden" type="checkbox" name="world" {{checked resource.world}}>
<div class="form-group">
    <label>{{@root.i18n 'menu.name.label'}}</label>
    <div class="form-fields">
        <input type="text" name="name" value="{{resource.name}}"
            placeholder="{{@root.i18n 'menu.name.default'}}">
    </div>
</div>
<div class="form-group">
    <label>{{@root.i18n 'menu.min'}}</label>
    <div class="form-fields">
        <input type="number" name="min" value="{{resource.min}}" min="0" step="1">
    </div>
</div>
<div class="form-group">
    <label>{{@root.i18n 'menu.max'}}</label>
    <div class="form-fields">
        <input type="number" name="max" value="{{resource.max}}" min="0" step="1">
    </div>
</div>
<div class="form-group">
    <label>{{@root.i18n 'menu.current'}}</label>
    <div class="form-fields">
        <input type="number" name="value" value="{{resource.value}}" min="0" step="1">
    </div>
</div>
<div class="form-group">
    <label>{{@root.i18n 'step1'}}</label>
    <div class="form-fields">
        <input type="number" name="step1" value="{{resource.step1}}" min="1" step="1">
    </div>
</div>
<div class="form-group">
    <label>{{@root.i18n 'step2'}}</label>
    <div class="form-fields">
        <input type="number" name="step2" value="{{resource.step2}}" min="1" step="1">
    </div>
</div>
<div class="form-group">
    <label>{{@root.i18n 'step3'}}</label>
    <div class="form-fields">
        <input type="number" name="step3" value="{{resource.step3}}" min="1" step="1">
    </div>
</div>
{{#if resource.world}}
<div class="form-group">
    <label>{{@root.i18n 'menu.visible'}}</label>
    <div class="form-fields">
        <input type="checkbox" name="visible" {{checked resource.visible}}>
    </div>
</div>
{{/if}}
{{#if isEdit}}
<div class="delete">
    <label>{{@root.i18n 'menu.delete'}}</label>
    <input type="checkbox" name="delete">
</div>
{{/if}}