{{#each worldResources as |resource|}}
{{> 'resource-row' resource=resource isOwner=@root.isGM}}
{{/each}}
{{#if (and worldResources.length userResources.length)}}
<hr>
{{/if}}
{{#each userResources as |resource|}}
{{> 'resource-row' resource=resource isOwner=true}}
{{/each}}

{{#*inline 'resource-row'}}
<div class="resource" data-resource-id="{{resource.id}}" data-is-world="{{resource.world}}"
    style="--ratio: {{resource.ratio}};">
    <div class="name">
        {{#if (and @root.isGM resource.world)}}
        <i class="{{#if resource.visible}}visible {{/if}}fa-solid fa-eye"></i>
        {{/if}}
        {{resource.name}}
    </div>
    <div class="stats">
        <div class="filler"></div>
        <div class="min">{{resource.min}}</div>
        <div class="max">{{resource.max}}</div>
        <div class="value">{{resource.value}}</div>
    </div>
    {{#if isOwner}}
    <a class="decrease" data-action="decrease-resource" data-tooltip="{{resource.decrease}}">
        <i class="fa-solid fa-minus"></i>
    </a>
    <a class="increase" data-action="increase-resource" data-tooltip="{{resource.increase}}">
        <i class="fa-solid fa-plus"></i>
    </a>
    {{/if}}
</div>
{{/inline}}