<div class="item-list actions">
    {{#if strikes.length}}
    <div class="header"> {{localize "PF2E.Actor.Attacks"}}</div>
    {{/if}}
    {{#each strikes as |strike|}}
    <div class="strike{{#if strike.ready}} ready{{/if}}{{#unless strike.visible}} hidden{{/unless}}"
        data-index="{{strike.index}}">
        {{!-- name --}}
        {{#if @root.isCharacter}}
        <a class="name" data-action="strike-description">{{strike.label}}</a>
        {{else}}
        <div class="name">{{strike.label}}</div>
        {{/if}}
        {{!-- npc traits --}}
        {{#unless @root.isCharacter}}
        {{#if (or strike.traits.length strike.additionalEffects.length)}}
        <div class="variants">
            {{#each strike.traits as |trait|}}
            <div class="variant info" data-action="trait-description" data-index="{{@index}}">
                {{trait.label}}
            </div>
            {{/each}}
            {{#each strike.additionalEffects as |trait|}}
            <div class="variant">
                {{trait.label}}
            </div>
            {{/each}}
        </div>
        {{/if}}
        {{/unless}}
        {{!-- attack/damage --}}
        {{#if (any strike.ready ../actor.flags.pf2e.showUnreadyStrikes)}}
        {{#if strike.canStrike}}
        {{> attackDamage strike}}
        {{/if}}
        {{else if (and (not strike.ready) (not strike.handsAvailable))}}
        <span class="hands-occupied">{{localize "PF2E.Actor.Character.HandsOccupied"}}</span>
        {{/if}}
    </div>
    {{/each}}
</div>

{{#*inline "attackDamage"}}
<div class="variants">
    {{!-- attacks --}}
    {{#each variants as |variant index|}}
    <div class="variant attack" data-action="strike-attack" data-variant-index="{{index}}" {{#if
        ../isAltUsage}} data-alt-usage="{{#if ../item.isThrown}}thrown{{else}}melee{{/if}}" {{/if}}
        {{#if (eq ../quantity 0)}} disabled data-tooltip="{{localize "
        PF2E.ErrorMessage.WeaponQuantityZero"}}"{{/if}}>
        {{!-- first attack --}}
        {{#if (eq index 0)}}
        {{#if @root.isCharacter}}
        {{localize "PF2E.WeaponStrikeLabel"}}
        {{/if}}
        {{variant.label}}
        {{!-- other map --}}
        {{else}}
        {{@root.variantLabel variant.label}}
        {{/if}}
    </div>
    {{/each}}
</div>
{{/inline}}