<div class="panel top stats-header">
    <div class="name">{{name}}</div>
    <hr>
    {{> (@root.partial 'stats_header')}}
    {{#unless isCombatant}}
    <div class="double extras">
        {{> (@root.partial 'stats_level')}}
        {{#if isVehicle}}
        {{> (@root.partial 'stats_statistics')}}
        {{else if isFamiliar}}
        {{> (@root.partial 'stats_speed')}}
        {{else if (or isHazard isArmy)}}
        {{> (@root.partial 'sidebars')}}
        {{/if}}
    </div>
    {{#if isHazard}}
    <div class="triple">
        {{> (@root.partial 'stats_statistics')}}
    </div>
    {{/if}}
    {{/unless}}
</div>

{{#if isCombatant}}
<div class="panel left">
    {{#if isCharacter}}
    {{> (@root.partial 'stats_extras')}}
    {{/if}}
    {{> (@root.partial 'stats_level')}}
    {{> (@root.partial 'stats_speed')}}
    {{#if (and isCharacter alliance)}}
    {{> (@root.partial 'three-steps') step=alliance}}
    {{/if}}
    {{#if isNPC}}
    <div data-section="recall-knowledge" data-tooltip="PF2E.RecallKnowledge.Label">
        <i class="fa-solid fa-book"></i>
        <span>{{recall}}</span>
    </div>
    {{!-- <a data-section="recall-knowledge" data-tooltip="PF2E.RecallKnowledge.Label"
        data-action="recall-knowledge">
        <i class="fa-solid fa-book"></i>
        <span>{{recall}}</span>
    </a> --}}
    {{/if}}
</div>
{{/if}}

{{#if (or isCombatant isFamiliar)}}
<div class="panel right">
    {{> (@root.partial 'stats_statistics')}}
</div>
{{/if}}

{{#unless isArmy}}
<div class="panel bottom">
    {{> (@root.partial 'stats_infos')}}
    {{#unless noSidebars}}
    <hr>
    {{> (@root.partial 'sidebars')}}
    {{/unless}}
</div>
{{/unless}}