<div class="pf2e-hud-perceptions" data-tooltip-class="pf2e">
    <div class="title">{{@root.i18n 'title'}}</div>
    <hr>
    <div class="rows">
        {{#each actors as |actor|}}
        <span class="name">
            <span>{{actor.name}}</span>
            {{#if actor.search}}
            <i class="fa-solid fa-eye" {{{@root.i18n.tooltip 'search' }}}></i>
            {{/if}}
        </span>
        {{#if actor.rank}}
        <span class="proficiency">
            <span class="tag {{actor.rank}}">
                {{localize (concat 'PF2E.ProficiencyLevel' actor.rank)}}
            </span>
        </span>
        {{else}}
        <span></span>
        {{/if}}
        <span
            class="roll{{#if (eq actor.die 1)}} failure{{else if (eq actor.die 20)}} success{{/if}}">
            {{actor.roll}}
        </span>
        {{/each}}
    </div>
</div>