<div data-panel="menu">
    {{#if hasActor}}
    <div class="group single">
        <a class="effects-toggle{{#if noEffects}} inactive{{/if}}" data-section="effects"
            data-action="toggle-effects" {{{@root.i18n.tooltip 'effects.toggle' }}}>
            <i class="fa-solid fa-person-rays"></i>
        </a>
    </div>
    {{/if}}
    {{#if (or setActor hasActor)}}
    <div class="group">
        {{#if setActor}}
        <a class="set-actor{{#if setActor.disabled}} inactive{{/if}}" data-action="set-actor"
            data-tooltip="{{setActor.tooltip}}" data-tooltip-class="pf2e-hud-element no-width">
            <i class="{{setActor.icon}}"></i>
        </a>
        {{/if}}
        {{#if hasActor}}
        <a data-action="edit-avatar" {{{@root.i18n.tooltip 'menu.editAvatar' }}}>
            <i class="fa-regular fa-image-user"></i>
        </a>
        {{!-- stats on hover --}}
        <a class="cleaned" data-action="toggle-clean" {{{@root.i18n.tooltip 'menu.clean.hover' }}}>
            <i class="fa-thin fa-chart-bar"></i>
        </a>
        <a data-action="toggle-clean" {{{@root.i18n.tooltip 'menu.clean.always' }}}>
            <i class="fa-solid fa-chart-bar"></i>
        </a>
        {{/if}}
    </div>
    {{/if}}
    <div class="group">
        {{!-- lock button --}}
        <a class="locked" data-action="toggle-hotbar-lock" data-tooltip="HOTBAR.UNLOCK">
            <i class="fa-solid fa-lock"></i>
        </a>
        <a data-action="toggle-hotbar-lock" data-tooltip="HOTBAR.LOCK">
            <i class="fa-solid fa-unlock"></i>
        </a>
        {{!-- mute button --}}
        <a class="muted" data-action="mute-sound" data-tooltip="HOTBAR.UNMUTE">
            <i class="fa-solid fa-volume-xmark"></i>
        </a>
        <a data-action="mute-sound" data-tooltip="HOTBAR.MUTE">
            <i class="fa-solid fa-volume"></i>
        </a>
        {{!-- clear button --}}
        <a data-action="clear-hotbar" data-tooltip="HOTBAR.CLEAR">
            <i class="fa-solid fa-trash"></i>
        </a>
    </div>
</div>

{{#if hasActor}}
<div data-panel="portrait">
    {{#if avatar}}
    <div class="avatar" data-action="open-sheet" style="background-color: {{avatar.background}};">
        {{#if avatar.isVideo}}
        <video class="image" src="{{avatar.src}}" autoplay="true" muted="true" loop="true"
            playsInline="true"></video>
        {{else}}
        <img class="image" src="{{avatar.src}}">
        {{/if}}
    </div>
    {{else}}
    <div class="avatar"></div>
    {{/if}}
    <div class="flash"></div>
</div>
<div data-panel="shortcuts-menu">
    {{#if hasActor}}
    <div class="tabs" {{{@root.i18n.tooltip 'shortcuts.tab' }}}>
        <i class="fa-solid fa-grid-2"></i>
        {{> (@root.partial 'slider') shortcutsTab}}
    </div>
    {{#if isCharacter}}
    <a data-action="copy-shortcuts" {{{@root.i18n.tooltip 'shortcuts.copy.title' }}}>
        <i class="fa-solid fa-user-pen"></i>
    </a>
    {{else}}
    <a data-action="fill-shortcuts" {{{@root.i18n.tooltip 'shortcuts.fill.title' }}}>
        <i class="fa-solid fa-fill-drip"></i>
    </a>
    {{/if}}
    <a data-action="clear-shortcuts" {{{@root.i18n.tooltip 'shortcuts.clear.title' }}}>
        <i class="fa-solid fa-circle-xmark"></i>
    </a>
    {{/if}}
    <div data-panel="shortcut-bin">
        <i class="fa-solid fa-trash-can"></i>
    </div>
</div>
{{else}}
<div data-panel="owned-actors" {{#if isGM}}class="inverted" {{/if}}>
    {{#each actors as |actor|}}
    <div class="owned-actor" data-action="select-owned-actor" data-tooltip="{{actor.name}}"
        data-actor-id="{{actor.id}}">
        <img src="{{actor.img}}" draggable="true">
        <div class="stats">
            <div class="ac">
                <i class="fa-solid fa-shield"></i>
                <div class="value">{{actor.ac}}</div>
            </div>
            {{#each actor.saves as |save|}}
            <div class="save">
                <i class="{{save.icon}}"></i>
                <div class="value">{{save.value}}</div>
            </div>
            {{/each}}
        </div>
        {{#if actor.hp}}
        <div class="bars">
            <div class="fills">
                {{#if actor.hp.sp}}
                <div class="fill sp" style="--ratio: {{actor.hp.sp.ratio}};"></div>
                {{else}}
                <div class="fill"></div>
                {{/if}}
                <div class="fill hp" style="--ratio: {{actor.hp.ratio}}; --hue: {{actor.hp.hue}};">
                </div>
            </div>
            <div class="value hp">
                <i class="fa-solid fa-heart"></i>
                <div>{{actor.hp.value}}</div>
            </div>
            {{#if actor.hp.sp}}
            <div class="value sp">
                <div>{{actor.hp.sp.value}}</div>
                <i class="fa-solid fa-heart-pulse"></i>
            </div>
            {{/if}}
        </div>
        {{/if}}
    </div>
    {{/each}}
</div>
{{/if}}