<form data-tooltip-direction="UP">
    <div class="form-group">
        <label>{{localize "TOKEN.ImagePath"}}</label>
        <div class="form-fields">
            <input type="text" name="src" placeholder="{{placeholder}}" disabled>
            <button class="fa-solid fa-file-import fa-fw" type="button"
                data-tooltip="FILES.BrowseTooltip" data-action="open-browser" {{disabled
                noBrowser}}>
            </button>
            <button class="fa-solid fa-image-portrait" type="button"
                data-tooltip="{{@root.i18n.path 'src.actor'}}" data-action="use-actor-image">
            </button>
            <button class="fa-solid fa-circle-user" type="button"
                data-tooltip="{{@root.i18n.path 'src.token'}}" data-action="use-token-image"
                {{disabled noTokenImage}}>
            </button>
        </div>
    </div>
    <div class="buttons">
        <button type="button" data-action="save">
            <i class="fa-solid fa-floppy-disk"></i>
            {{@root.i18n 'save'}}
        </button>
        <button type="button" data-action="cancel">
            <i class="fa-solid fa-xmark"></i>
            {{@root.i18n 'cancel'}}
        </button>
        <div class="spacer"></div>
        <button type="button" data-action="reset">
            <i class="fa-solid fa-rotate-left"></i>
            {{@root.i18n 'reset'}}
        </button>
        <button type="button" data-action="contain">
            <i class="fa-solid fa-expand"></i>
            {{@root.i18n 'contain'}}
        </button>
    </div>
</form>
<hr>
<div class="viewport">
    <div class="image"></div>
    <div class="border"></div>
</div>